h1 {
    color: green;
}

.form-signin {
    max-width: 300px;
    height: 100vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.sidebar {
    position: fixed;
    background-color: #333333;
    padding-top: 50px;
    padding-bottom: 50px;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.sidebar .btn {
    text-align: left;
    margin-bottom: 10px;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.voucher_delete{
    line-height:86px;
}
.voucher_btn{
    margin-top: 30px;
    position: relative;
    z-index: 10;
}

.formSubmit {
    margin-top: 30px;
}

.disabled {
    pointer-events: none;
}

table table td {
    border: 0 !important;
    border-top: 1px solid #e9ecef !important;
}
table th {
    width: 200px;
}

table table tr:first-child td {
    border: 0 !important;
    border-top: 0px solid #e9ecef !important;
}

table table tr {
    background-color: inherit !important;
}

.lurking table{
    display: none;
}

table tbody tr{
    cursor: pointer;
}

input[name='toggle'] {
    display: none;
}

.container_loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10 ;
    display: none;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .2s ease-out;
}

.loading-anim {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    perspective: 800px;
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateY(-90deg) rotateX(90deg) rotateZ(90deg) scale(0.5);
    opacity: 0;
    transition: all .2s ease-out;
}
.loading-anim .circle {
    width: 100%;
    height: 100%;
    animation: spin 5s linear infinite;
}
.loading-anim .border {
    position: absolute;
    border-radius: 50%;
    border: 3px solid #007bff !important;
}
.loading-anim .out {
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    animation: spin 2s linear reverse infinite;
}
.loading-anim .in {
    top: 18%;
    left: 18%;
    width: 64%;
    height: 64%;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    animation: spin 2s linear infinite;
}
.loading-anim .mid {
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    animation: spin 1s linear infinite;
}

.loading .loading-anim {
    transform: translateZ(0) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1);
    opacity: 1;
}

.loading .loading-overlay {
    background: rgba(255, 255, 255, 0.5);
}

.dot {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bff !important;
    animation: jitter 5s ease-in-out infinite, fade-in-out 5s linear infinite;
}

.dot:nth-child(1) {
    top: 90px;
    left: 180px;
    animation-delay: 0s;
}

.dot:nth-child(2) {
    top: 135px;
    left: 168px;
    animation-delay: 0.41667s;
}

.dot:nth-child(3) {
    top: 168px;
    left: 135px;
    animation-delay: 0.83333s;
}

.dot:nth-child(4) {
    top: 180px;
    left: 90px;
    animation-delay: 1.25s;
}

.dot:nth-child(5) {
    top: 168px;
    left: 45px;
    animation-delay: 1.66667s;
}

.dot:nth-child(6) {
    top: 135px;
    left: 12px;
    animation-delay: 2.08333s;
}

.dot:nth-child(7) {
    top: 90px;
    left: 0px;
    animation-delay: 2.5s;
}

.dot:nth-child(8) {
    top: 45px;
    left: 12px;
    animation-delay: 2.91667s;
}

.dot:nth-child(9) {
    top: 12px;
    left: 45px;
    animation-delay: 3.33333s;
}

.dot:nth-child(10) {
    top: 0px;
    left: 90px;
    animation-delay: 3.75s;
}

.dot:nth-child(11) {
    top: 12px;
    left: 135px;
    animation-delay: 4.16667s;
}

.dot:nth-child(12) {
    top: 45px;
    left: 168px;
    animation-delay: 4.58333s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes jitter {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.7, 0.7);
    }
    50% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes fade-in-out {
    0% {
        opacity: 0.8;
    }
    25% {
        opacity: 0.2;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
    }
}

input[data-readonly] {
    pointer-events: none;
}

/*# sourceMappingURL=../maps/main.css.map */
.edit__info {
    width: 100%;
    padding-right: 20px;
}

.edit__pay {
    width: 100%;
}

.table-bordered thead th:first-child{
    min-width: unset;
}

.table-bordered thead th {
    min-width: 200px;
}

.sidebar {
    overflow: hidden;
}

.nav-link {
    padding: .5rem 0.4rem;
}

@media(max-width:1520px) {
    .nav-pills .nav-link {
        font-size: 12px;
    }
}

.pagination li {
    padding-right: 20px;
}

.pagination .active a {
    color: black;
}

.help-block.help-block-error {
    color: red;
}

#routeorder-addination > div:nth-child(n+1):nth-child(-n+21) > label
{
    color: red;
}